<div class="col-12 fadeIn MainDiv">
    <br>
    <h1 class="text-center text-uppercase Section-Heading">Welcome to the Dungeon</h1>


    <div class="row justify-content-center">
        <div class="characterDiv col-2" *ngIf="selectedCharacter!==undefined">
            <div class="game-card-container" (click)="showCardStats('character')" [class.card-active]="!showCharacterStats">
                <div class="card-background m-3">
                    <div class="card-frame p-3">

                        <div class="front">
                            <div class="game-card-header row no-gutters mb-2 justify-content-between game-card-border">
                                <h1 class="name ml-3 my-2">{{selectedCharacter.name}}</h1>
                                <h1 class="name mr-3 my-2">{{selectedCharacter.level}}</h1>
                            </div>
                            <div class="game-card-image preload-img game-card-border mx-2" [style.background-image]="'url('+selectedCharacter.image+')'" style="height: 30vh;"></div>

                            <div class="game-card-header row no-gutters justify-content-between game-card-border mb-2">
                                <h1 class="type ml-3 my-2">Hero</h1>
                            </div>

                            <div class="description text-box game-card-border mx-2 mb-4 p-2 mt-1">
                                <p class="m-0">{{selectedCharacter.short_description}}</p>
                            </div>
                        </div>


                        <div class="back">
                            <table class="table table-borderless" *ngIf="selectedCharacter.current_stats">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn rounded-pill font-weight-bold color-white" (click)="calculateCharacterCurrentStats()">Current</button>
                                        </td>
                                        <td>
                                            <button class="btn rounded-pill font-weight-bold color-white" (click)="calculateCharacterMaxStats()">Max</button>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                    <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">HP</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm hp" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showCharacterStats.hp /  character_max_stats.hp * 100 + '%'}">
                                                    <span>{{showCharacterStats.hp}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">STR</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm str" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showCharacterStats.str / character_max_stats.str * 100 + '%'}">
                                                    <span>{{showCharacterStats.str}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">DEX</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm dex" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showCharacterStats.dex / character_max_stats.dex * 100 + '%'}">
                                                    <span>{{showCharacterStats.dex}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">AGI</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm agi" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showCharacterStats.agi / character_max_stats.agi * 100 + '%'}">
                                                    <span>{{showCharacterStats.agi}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">Luck</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm luk" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showCharacterStats.luk / character_max_stats.luk * 100 + '%'}">
                                                    <span>{{showCharacterStats.luk}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">Total</td>
                                        <td colspan="3">
                                            {{showCharacterStats.hp + showCharacterStats.str + showCharacterStats.dex + showCharacterStats.agi + showCharacterStats.luk}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-1 my-auto d-flex flex-wrap justify-content-center">
            <h3 (click)="play()" class="text-center">VS</h3>
        </div>

        <div class="monsterDiv col-2" *ngIf="monsterToFight!==undefined">
            <div class="game-card-container" (click)="showCardStats('monster')" [class.card-active]="!showMonsterStats">
                <div class="card-background m-3">
                    <div class="card-frame p-3">

                        <div class="front">
                            <div class="game-card-header row no-gutters mb-2 justify-content-between game-card-border">
                                <h1 class="name ml-3 my-2">{{monsterToFight.name}}</h1>
                                <h1 class="name mr-3 my-2">{{monsterToFight.level}}</h1>
                            </div>
                            <div class="game-card-image preload-img game-card-border mx-2" [style.background-image]="'url('+monsterToFight.image+')'" style="height: 30vh;"></div>

                            <div class="game-card-header row no-gutters justify-content-between game-card-border mb-2">
                                <h1 class="type ml-3 my-2">Monster</h1>
                            </div>

                            <div class="description text-box game-card-border mx-2 mb-4 p-2 mt-1">
                                <p class="m-0">{{monsterToFight.short_description}}</p>
                            </div>
                        </div>

                        <div class="back">
                            <table class="table table-borderless" *ngIf="monsterToFight.current_stats">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn rounded-pill font-weight-bold color-white" (click)="calculateCharacterCurrentStats()">Current</button>
                                        </td>
                                        <td>
                                            <button class="btn rounded-pill font-weight-bold color-white" (click)="calculateCharacterMaxStats()">Max</button>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                    <td class="text-right font-weight-bold color-white color-white" style="white-space:nowrap;">HP</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm hp" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showMonsterStats.hp /  character_max_stats.hp * 100 + '%'}">
                                                    <span>{{showMonsterStats.hp}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">STR</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm str" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showMonsterStats.str / character_max_stats.str * 100 + '%'}">
                                                    <span>{{showMonsterStats.str}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">DEX</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm dex" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showMonsterStats.dex / character_max_stats.dex * 100 + '%'}">
                                                    <span>{{showMonsterStats.dex}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">AGI</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm agi" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showMonsterStats.agi / character_max_stats.agi * 100 + '%'}">
                                                    <span>{{showMonsterStats.agi}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        </tr>
                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">Luck</td>
                                        <td colspan="3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm luk" role="progressbar"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngStyle]="{'width': showMonsterStats.luk / character_max_stats.luk * 100 + '%'}">
                                                    <span>{{showMonsterStats.luk}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-right font-weight-bold color-white" style="white-space:nowrap;">Total</td>
                                        <td colspan="3">
                                            {{showMonsterStats.hp + showMonsterStats.str + showMonsterStats.dex + showMonsterStats.agi + showMonsterStats.luk}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


